<app-navbar></app-navbar>
<br><br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="list-group">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center"><h4 class="text-danger"><b>Konular</b></h4></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Telefon<span class="badge bg-danger rounded-pill">0</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Bilgisayar<span class="badge bg-danger rounded-pill">0</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Tablet<span class="badge bg-danger rounded-pill">0</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Televizyon<span class="badge bg-danger rounded-pill">0</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Elektrikli Ev Aletleri<span class="badge bg-danger rounded-pill">0</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Yazılım<span class="badge bg-danger rounded-pill">0</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Dononım<span class="badge bg-danger rounded-pill">0</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Oyun<span class="badge bg-danger rounded-pill">0</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Bilgisayar Programları<span class="badge bg-danger rounded-pill">0</span></li>
                  </ul>
            </div>
        </div>
    </div>
</div>