<app-navbar></app-navbar>
<br><br><br><br><br>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2 class="display-4 text-danger text-center">Teknolojiye Dair</h2>
            <h2 class="display-4 text-danger text-center">Her Şey...</h2><br><br>
            <p class="text-center">Elektrikli ev aletlerinden cep telefonlarına,bilgisayar ve <br>
            tabletlere kadar aklınızda ne varsa sorun.</p>
               <br><br>
                <div class="d-grid gap-2">
                   <button class="btn btn-outline-danger btn-lg"><a href="sor" style="text-decoration:none" class="text-dark">Hemen Sormaya Başlayın !</a></button> 
                   <br>
                   <button class="btn btn-outline-danger btn-lg"><a href="uyegiris" style="text-decoration:none" class="text-dark">Giriş Yap ! </a></button> 
                </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-danger"><h4>Wi-fi Güvenliği Nasıl Arttırılır?</h4></div>
                <div class="card-body"><p>Toplam '0' adet cevap.</p><br>
                <button class="btn btn-outline-danger">Cevap Yaz</button></div>

            </div>
            <div class="card mt-2">
                <div class="card-header bg-danger"><h4>Telefon Seçerken Hangi Kriterler Göz Önünde Bulundurulmalıdır?</h4></div>
                <div class="card-body"><p>Toplam '0' adet cevap.</p><br>
                <button class="btn btn-outline-danger">Cevap Yaz</button></div>
    
            </div>
            <div class="card mt-2">
                <div class="card-header bg-danger"><h4>Yazılım Öğrenmeye Nereden Başlamalı?</h4></div>
                <div class="card-body"><p>Toplam '0' adet cevap</p><br>
                <button class="btn btn-outline-danger">Cevap Yaz</button></div>

            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-outline-danger mt-2 btn-lg"><a href="sorular" style="text-decoration:none" class="text-dark">Daha Fazla Soru Gör!</a></button>
            </div>
        </div>
    </div>
</div>

