<nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
    <div class="container">
      <a href="" class="navbar-brand"><h3>TeknoForm</h3></a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a href="" class="nav-link">Ana Sayfa</a></li>
          <li class="nav-item"><a href="sorular" class="nav-link">Sorular</a></li>
          <li class="nav-item"><a href="dosyalar" class="nav-link">Dosyalar</a></li>
          <li class="nav-item"><a href="kayitlar" class="nav-link">Sor</a></li>
          <li class="nav-item"><a href="login" class="nav-link">Üye Ol / Giriş Yap</a></li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Ne İstersen Ara!" aria-label="Search">
          <button class="btn btn-danger" type="submit">Ara</button>
        </form>
      </div>
    </div>
</nav>