<app-navbar></app-navbar>
<br><br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-danger"><h4>Wi-fi Güvenliği Nasıl Arttırılır?</h4></div>
                <div class="card-body"><p>Toplam '0' adet cevap.</p>
                <button class="btn btn-outline-danger">Cevap Yaz</button></div>
                
            </div>
            <div class="card mt-4">
                <div class="card-header bg-danger"><h4>Telefon Seçerken Hangi Kriterler Göz Önünde Bulundurulmalıdır?</h4></div>
                <div class="card-body"><p>Toplam '0' adet cevap.</p>
                <button class="btn btn-outline-danger">Cevap Yaz</button></div>
                
            </div>
            <div class="card mt-4">
                <div class="card-header bg-danger"><h4>Yapay Zeka Nasıl Programlanır? Yapay Sinir Ağları Nedir?</h4></div>
                <div class="card-body"><p>Toplam '0' adet cevap.</p>
                <button class="btn btn-outline-danger">Cevap Yaz</button></div>
                
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-danger"><h4>Yazılım Öğrenmeye Nereden Başlamalı</h4></div>
                <div class="card-body"><p>Toplam '0' adet cevap.</p>
                <button class="btn btn-outline-danger">Cevap Yaz</button></div>
                
            </div>
            <div class="card mt-4">
                <div class="card-header bg-danger"><h4>Ekran Kartı Neden Aşırı Isınır? Belirtileri ve Çözümleri Nelerdir?</h4></div>
                <div class="card-body"><p>Toplam '0' adet cevap.</p>
                <button class="btn btn-outline-danger">Cevap Yaz</button></div>
                
            </div>
            <div class="card mt-4">
                <div class="card-header bg-danger">
                    <h4>Şuan Daha Fazla Soru Bulunmamaktadır.</h4>
                </div><p class="mt-2">Elektrikli ev aletlerinden cep telefonlarına,bilgisayar ve 
                    tabletlere kadar aklınızda ne varsa sorun.</p>
                <button class="btn btn-outline-danger "><a href="sor" class="text-dark" style="text-decoration:none;">Soru Sor!</a></button>
                </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-danger"><h4>Keylogger Nedir? Nasıl Bulaşır ve Temizlenir?</h4></div>
                <div class="card-body"><p>Toplam '0' adet cevap.</p>
                <button class="btn btn-outline-danger">Cevap Yaz</button></div>
                
            </div>
            <div class="card mt-4">
                <div class="card-header bg-danger"><h4>FPS Nedir? Oyunlarda FPS değeri neden önemlidir?</h4></div>
                <div class="card-body"><p>Toplam '0' adet cevap.</p>
                <button class="btn btn-outline-danger">Cevap Yaz</button></div>
                
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-danger"><h4>3D Baskı Nedir? Nasıl Çalışır?</h4></div>
                <div class="card-body"><p>Toplam '0' adet cevap.</p>
                <button class="btn btn-outline-danger">Cevap Yaz</button></div>
                
            </div>
            <div class="card mt-4">
                <div class="card-header bg-danger"><h4>C Dillerinin Aralarındaki Farklar ve Özellikleri Nelerdir?</h4></div>
                <div class="card-body"><p>Toplam '0' adet cevap.</p>
                <button class="btn btn-outline-danger">Cevap Yaz</button></div>
                
            </div>
        </div>
    </div>
</div>